<div class="row">
  <section class="main col-md-9">
    <article>
      <h2>About Me</h2>
      <p>I graduated from Seneca College with a degree in Computer Programming and am currently seeking a junior position. I possess not only programming knowledge but also a background in business studies and work experience. This adds a unique dimension to my technical expertise.</p>
      <p>I believe that my experience can contribute to the development of business models in the field of Data Science & IT. I want to utilize the programming languages and skills I've learned to contribute to the development of projects at your company.</p>
      <p>I am ready to work with you. Thank you.</p>
    </article>

    <article>
      <h3>Hobbies</h3>
      <ul>
        <li>Swimming</li>
        <li>Pilates</li>
        <li>Travel</li>
      </ul>
    </article>
  </section>

  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>Stay tuned for future updates</p>
  </aside>
</div>
